@media only screen and (max-width: 1400px) {

    .container {
        width: 1100px;
    }

    .container-shop-infos {
        width: 1100px;
    }

    .conatiner-main-imgs{
        width: 1100px;
    }
}

@media only screen and (max-width: 1150px) {

    .container {
        width: 1000px;
    }

    .container-shop-infos {
        width: 1000px;
    }

    .conatiner-main-imgs{
        width: 1000px;
        justify-content: center;
    }

    .main-site-imgs{
        width: 500px;
    }
    
}

@media only screen and (max-width: 1060px) {

    .container {
        width: 920px;
    }

    .container-shop-infos {
        width: 920px;
    }

    .conatiner-main-imgs{
        width: 920px;
    }

    .main-site-imgs{
        width: 450px;
    }
}


@media only screen and (max-width: 960px) {

    .container {
        width: 850px;
    }

    .container-shop-infos {
        width: 850px;
    }

    .conatiner-main-imgs{
        width: 850px;
    }

    .main-site-imgs{
        width: 400px;
    }
}

@media only screen and (max-width: 900px) {

    .container {
        width: 800px;
    }

    .container-shop-infos {
        width: 800px;
    }

    .title-card {
        font-size: 18px;
    }

    .conatiner-main-imgs{
        width: 800px;
    }

    .main-site-imgs{
        width: 380px;
    }
}

@media only screen and (max-width: 850px) {

    .container {
        width: 750px;
    }

    .container-shop-infos {
        width: 750px;
    }

    .conatiner-main-imgs{
        width: 750px;
    }

    .main-site-imgs{
        width: 360px;
    }
}

@media only screen and (max-width: 800px) {

    .container {
        width: 700px;
    }

    .container-shop-infos {
        width: 700px;
    }

    .dec-card{
        width: 190px;
    }

    .conatiner-main-imgs{
        width: 700px;
    }

    .main-site-imgs{
        width: 330px;
    }

}

@media only screen and (max-width: 750px) {

    .container {
        width: 600px;
    }

    .container-shop-infos {
        width: 600px;
    }

    .title-card{
        font-size: 15px;
    }

    .dec-card{
        width: 155px;
    }

    .conatiner-main-imgs{
        width: 600px;
    }

    .main-site-imgs{
        width: 280px;
    }
}

@media only screen and (max-width: 650px) {

    .container {
        width: 550px;
    }

    .container-shop-infos {
        width: 550px;
    }

    .dec-card{
        width: 150px;
    }

    .conatiner-main-imgs{
        width: 550px;
    }

    .main-site-imgs{
        width: 260px;
    }
}

@media only screen and (max-width: 600px) {

    .container {
        width: 500px;
    }

    .container-shop-infos {
        width: 500px;
        flex-direction: column;
        align-items: center;
    }

    .title-card{
        font-size: 20px;
    }

    .dec-card{
        width: 328px;
        font-size: 14px;
    }

    .conatiner-main-imgs{
        width: 500px;
        flex-direction: column;
        align-items: center;
    }

    .main-site-imgs{
        width: 400px;
    }
}

@media only screen and (max-width: 550px) {

    .container {
        width: 450px;
    }

    .container-shop-infos{
        width: 450px;
    }

    .conatiner-main-imgs{
        width: 450px;
    }

    .main-site-imgs{
        width: 400px;
    }

}

@media only screen and (max-width: 500px) {

    .container {
        width: 400px;
    }

    .container-shop-infos{
        width: 400px;
    }

    .conatiner-main-imgs{
        width: 400px;
    }
}

@media only screen and (max-width: 450px) {

    .container {
        width: 350px;
    }

    .container-shop-infos{
        width: 350px;
    }

    .conatiner-main-imgs{
        width: 350px;
    }

    .main-site-imgs{
        width: 370px;
    }
}

@media only screen and (max-width: 400px) {

    .container {
        width: 300px;
    }

    .container-shop-infos{
        width: 300px;
    }

    .dec-card{
        width: 250px;
    }

    .conatiner-main-imgs{
        width: 300px;
    }

    .main-site-imgs{
        width: 350px;
    }
}