.container-content-medicinal-plant{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    justify-content: space-between;
}

.title-section-medicinal-plant{
    text-align: right;
    color: #417F56;
    font-size: 24px;
    margin-top: 100px;
}