@media only screen and (max-width: 1400px) {
    .container {
        width: 1100px;
    }

    .container-medicinal-plant {
        width: 1100px;
    }
}

@media only screen and (max-width: 1150px) {
    .container {
        width: 1000px;
    }

    .container-medicinal-plant {
        width: 1000px;
    }
}

@media only screen and (max-width: 1060px) {

    .container {
        width: 920px;
    }

    .container-medicinal-plant {
        width: 920px;
    }
}

@media only screen and (max-width: 960px) {

    .container {
        width: 850px;
    }

    .container-medicinal-plant {
        width: 850px;
    }
}

@media only screen and (max-width: 900px) {

    .container {
        width: 800px;
    }

    .container-medicinal-plant {
        width: 800px;
    }

    .title-medicinal-plant {
        font-size: 15px;
    }
    
    .desc-medicinal-plant {
        font-size: 11px;
        max-width: 180px;
    }
}

@media only screen and (max-width: 850px) {

    .container {
        width: 750px;
    }

    .container-medicinal-plant {
        width: 750px;
    }

    .title-medicinal-plant {
        font-size: 13px;
        max-width: 150px;
    }
    
    .desc-medicinal-plant {
        font-size: 10px;
        max-width: 150px;
    }

    .container-main-medicinal-plant{
        max-width: 150px;
    }

}

@media only screen and (max-width: 800px) {

    .container {
        width: 700px;
    }

    .container-medicinal-plant {
        width: 700px;
    }

    .container-content-medicinal-plant{
        grid-template-columns: repeat(4, 150px);
        justify-content: space-between;
    }

    .title-medicinal-plant {
        font-size: 10px;
        max-width: 150px;
    }
    
    .desc-medicinal-plant {
        font-size: 10px;
        max-width: 150px;
    }

    .container-main-medicinal-plant{
        max-width: 150px;
    }
}

@media only screen and (max-width: 750px) {

    .container {
        width: 600px;
    }

    .container-medicinal-plant {
        width: 600px;
    }

    .container-content-medicinal-plant{
        grid-template-columns: repeat(2, 160px);
        justify-content: space-evenly;
    }

    .container-main-medicinal-plant{
        max-width: 160px;
    }
}

@media only screen and (max-width: 650px) {

    .container {
        width: 550px;
    }

    .container-medicinal-plant {
        width: 550px;
    }
}

@media only screen and (max-width: 600px) {

    .container {
        width: 500px;
    }

    .container-medicinal-plant {
        width: 500px;
    }
}

@media only screen and (max-width: 550px) {

    .container {
        width: 450px;
    }

    .container-medicinal-plant {
        width: 450px;
    }
}

@media only screen and (max-width: 500px) {

    .container {
        width: 400px;
    }

    .container-medicinal-plant {
        width: 400px;
    }
}

@media only screen and (max-width: 450px) {

    .container {
        width: 350px;
    }

    .container-medicinal-plant {
        width: 350px;
    }

    .container-content-medicinal-plant{
        grid-template-columns: repeat(1, 200px);
        justify-content: space-evenly;
    }

    .container-main-medicinal-plant{
        max-width: 200px;
    }
    
    .desc-medicinal-plant {
        max-width: 200px;
    }
}

@media only screen and (max-width: 400px) {

    .container {
        width: 300px;
    }

    .container-medicinal-plant {
        width: 300px;
    }
}