.container-sides{
    width: 1100px;
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
}

.header-bottom-side-right{
    display: flex;
    flex-direction: column;
    direction: rtl;
    justify-content: center;
}

.title-header-bottom{
    color: #121212;
    font-size: 40px;
    text-align: right;
}

.desc-header-bottom{
    width: 438px;
    color: #353535;
    font-size: 17px;
    margin-top: -5px;
}

.container-buttons{
    display: flex;
    gap: 25px;
    margin-top: 30px;
    width: 440px;
}

.btn-off-flower{
    border-radius: 10px;
    width: 100%;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    background-color: #417F56;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.btn-off-flower:hover{
    transform: translateY(-5px);
}

.btn-conference{
    border-radius: 10px;
    width: 100%;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    background: none;
    cursor: pointer;
    border: 2px dashed #417F56;
    color: #417F56;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
    text-decoration: none;
}

.btn-conference:hover{
    transform: translateY(-5px);
}

.header-Bottom-Img{
    width: 550px;
}

.flowers-count-container{
    display: flex;
    width: 440px;
    justify-content: space-between;
    margin-top: 40px;
}

.homely-flower{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #417F56;
}

.complement-flower{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #417F56;
}

.gifts-flower{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #417F56;
}

.count-flower{
    font-weight: 400;
    font-size: 28px;
}

.cate-flower{
    margin-top: -20px;
    font-weight: 400;
    font-size: 19px;
}