.container {
    width: 1100px;
}

.container-slider {
    width: 1100px;
    display: flex;
    justify-items: center;
}

.title-slider {
    color: #417F56;
    font-size: 24px;
    text-align: right;
    margin-top: 100px;
    margin-right: 10px;
}