.container-chats{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid #EFEFEF;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
    cursor: pointer;
}

.img-user-in-chat{
    width: 55px;
    height: 55px;
    border-radius: 100px;
}

.icon-chat{
    color: #909090;
}

.container-name-countMessage{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: 630px;
}

.name-user-in-chat{
    font-size: 14px;
    color: #212121;
}

.count-messages{
    font-size: 14px;
    color: #717171;
    margin-top: -15px;
}