.container-card {
    border: 2px solid #D9D9D9;
    border-radius: 10px;
    float: right;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 260px;
}

.title-card {
    color: #121212;
    font-size: 18px;
    text-align: right;
}

.container-price-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-price {
    color: #121212;
    font-size: 14px;
}

.price-product {
    color: #121212;
    font-size: 18px;
}

.see-more-btn {
    color: white;
    background-color: #417F56;
    border-radius: 10px;
    font-size: 14px;
    border: none;
    padding: 8px;
    cursor: pointer;
}