.modal{
    width: 200px;
    background-color: #417F56;
    border: 1px solid white;
    border-radius: 3px;
    text-align: center;
    position: absolute;
    top: 140px;
}

.title-modal{
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.btn-close-modal{
    border: none;
    background-color: white;
    color: #417F56;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    border: 1px solid #417F56;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    font-weight: 700;
}