.container-main-medicinal-plant{
    display: flex;
    width: 260px;
    align-items: center;
    text-align: right;
    justify-content: space-between;
    margin-top: 20px;
}

.icon-medicinal-plant{
    background-color: #E5F2E9;
    color: #417F56;
    border-radius: 100px;
    padding: 10px;
}

.title-medicinal-plant{
    font-size: 16px;
    width: 200px;
    color: #212121;
}

.desc-medicinal-plant{
    font-size: 12px;
    width: 200px;
    color: #353535;
}