@font-face {
   font-family: 'IRANSans';
   src: local(IRANSans), url(/fonts/IRANSans_Medium.ttf), format(truetype);
   font-weight: 500;
 }
 
 @font-face {
   font-family: 'IRANSans';
   src: local(IRANSans), url(/fonts/IRANSans_Light.ttf), format(truetype);
   font-weight: 300;
 }
 
 @font-face {
   font-family: 'IRANSans';
   src: local(IRANSans), url(/fonts/IRANSans.ttf), format(truetype);
   font-weight: 400;
 }
 
 @font-face {
   font-family: 'IRANSans';
   src: local(IRANSans), url(/fonts/IRANSans_Bold.ttf), format(truetype);
   font-weight: 800;
 }
 
 * {
   box-sizing: border-box;
   font-family: IRANSans;
 }

 a{
   user-select: none;
 }

 img{
   user-select: none;
 }
 
.container{
   width: 1140px;
   margin: 0 auto;
}

.nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 1100px;
}

.nav-side-right{
   display: flex;
   align-items: center;
   gap: 15px;
}

.ul-nav-links{
   display: flex;
   gap: 30px;
   transition: 0.3s;
}


.li-nav-links{
   list-style: none;
}

.nav-links{
   text-decoration: none;
   color: #121212;
   font-size: 16px;
   font-weight: 400;
   transition: 0.3s;
   margin-right: 10px;
}

.nav-links:hover{
   color: #417F56;
}

.nav-side-left{
   display: flex;
   align-items: center;
   gap: 15px;
}

.btns-nav{
   border: 1px solid #417F56;
   border-radius: 10px;
   display: flex;
   padding: 10px;
   background: none;
   cursor: pointer;
   transition: 0.3s;
}


.btns-nav:hover{
   transform: translateY(-4px);
}

.login-btn{
   color: #417F56;
   font-weight: 500;
   border: 1px solid #417F56;
   border-radius: 10px;
   display: flex;
   padding: 7px 10px;
   background: none;
   cursor: pointer;
}

.icon-login{
   margin-left: 10px;
}

.line-after-nav{
   width: 1100px;
}

.hamb-menu{
   display: none;
   margin-top: 5px;
   cursor: pointer;
}

.input-search-box{
   width: 100%;
   direction: rtl;
   background-color: rgb(240, 240, 240);
   border-radius: 8px;
   border: none;
   padding-right: 50px;
   padding-left: 10px;
   padding-bottom: 10px;
   padding-top: 10px;
   outline: none;
   color: #121212;
   font-size: 17px;
   display: none;
   margin-top: 20px;
}

.search-box-div{
   display: flex;
   align-items: center;
}

.logo-search-box{
   margin-left: -35px;
   display: none;
   margin-top: 20px;
   color: gray;
}

.icon-basket-nav{
   color: #417F56;
   border: 1px solid #417F56;
   border-radius: 8px;
   padding: 5px;
   cursor: pointer;
   transition: 0.3s;
}
.icon-basket-nav:hover{
   transform: translateY(-3px);
}

.icon-search-nav{
   color: #417F56;
   border: 1px solid #417F56;
   border-radius: 8px;
   padding: 5px;
   cursor: pointer;
   transition: 0.3s;
}
.icon-search-nav:hover{
   transform: translateY(-3px);
}

.logo{
   color: #417F56;
   font-size: 30px;
   user-select: none;
}

.container-small-menu{
   position: absolute;
   margin-top: 267px;
   display: flex;
}

.ul-small-menu-nav-links {
   display: flex;
   flex-direction: column-reverse;
   background-color: #417F56;
   width: 200px;
   height: 370px;
   padding: 10px;
   gap: 25px;
   font-size: 14px;
   display: none;
   transition: 0.5s;
   align-items: center;
   justify-content: center;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
}

.main{
   color: #417F56;
}

.li-nav-links-small-menu{
   list-style: none;
}

.nav-links-small-menu{
   text-decoration: none;
   color: white;
}

.icon-close-small-nav{
   color: white;
   position: absolute;
   margin-top: -330px;
   cursor: pointer;
   margin-left: 160px;
}

.line-after-lis{
   width: 100px;
}

.active{
   margin-top: 14px;
}

.unActive{
   margin-top: -560px;
}