@media only screen and (max-width: 1400px) {
    .container {
        width: 1100px;
    }
}

@media only screen and (max-width: 1150px) {
    .container {
        width: 1000px;
    }

    .nav {
        width: 1000px;
    }

    .line-after-nav {
        width: 1000px;
    }
}

@media only screen and (max-width: 1060px) {
    .container {
        width: 920px;
    }

    .nav {
        width: 920px;
    }

    .line-after-nav {
        width: 920px;
    }
}

@media only screen and (max-width: 1000px) {

    .login-btn {
        padding: 3px 5px;
        font-weight: 400;
    }

    .icon-login {
        width: 20px;
    }

    .btns-nav {
        padding: 7px;
    }

    .icon-btns-nav {
        width: 17px;
    }

    .nav-links {
        font-size: 15px;
    }

    .logo{
        font-size: 27px;
    }

}

@media only screen and (max-width: 960px) {
    .container {
        width: 850px;
    }

    .nav {
        width: 850px;
    }

    .line-after-nav {
        width: 850px;
    }
}

@media only screen and (max-width: 900px) {

    .container {
        width: 800px;
    }

    .nav {
        width: 800px;
    }

    .line-after-nav {
        width: 800px;
    }

}

@media only screen and (max-width: 850px) {


    .icon-login {
        width: 17px;
    }

    .icon-btns-nav {
        width: 15px;
    }

    .nav-links {
        font-size: 13px;
    }

    .container {
        width: 750px;
    }

    .nav {
        width: 750px;
    }

    .line-after-nav {
        width: 750px;
    }

    .ul-nav-links {
        gap: 20px;
    }

    .logo{
        font-size: 24px;
    }

}

@media only screen and (max-width: 800px) {

    .container {
        margin-top: 12px;
        width: 700px;
    }

    .nav {
        width: 700px;
    }

    .search-btn {
        display: none;
    }

    .line-after-nav {
        display: none;
    }

    .hamb-menu {
        display: block;
    }

    .input-search-box {
        display: block;
    }

    .logo-search-box {
        display: block;
    }

    .ul-nav-links {
        display: none;
    }

    .ul-small-menu-nav-links{
        display: flex;
    }

}

@media only screen and (max-width: 750px) {

    .container {
        width: 600px;
    }

    .nav {
        width: 600px;
    }
}

@media only screen and (max-width: 650px) {

    .container {
        width: 550px;
    }

    .nav {
        width: 550px;
    }
}

@media only screen and (max-width: 600px) {

    .container {
        width: 500px;
    }

    .nav {
        width: 500px;
    }
}

@media only screen and (max-width: 550px) {

    .container {
        width: 450px;
    }

    .nav {
        width: 450px;
    }
}

@media only screen and (max-width: 500px) {

    .container {
        width: 400px;
    }

    .nav {
        width: 400px;
    }

    .input-search-box {
        width: 350px;
    }

    .logo{
        font-size: 20px;
    }
}

@media only screen and (max-width: 450px) {

    .container {
        width: 350px;
    }

    .nav {
        width: 350px;
    }

    .input-search-box {
        width: 350px;
    }
}

@media only screen and (max-width: 400px) {

    .container {
        width: 300px;
    }

    .nav {
        width: 300px;
    }

    .input-search-box {
        width: 250px;
        font-size: 13px;
    }

    .login-btn {
        font-size: 10px;
        width: 92px;
    }

    .logo-search-box {
        width: 20px;
    }

    .logo{
       font-size: 11px;
    }

    .container-small-menu{
        margin-top: 35px;
        margin-left: -34px;
    }
}